.create-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.form{
    width: 40vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
 }
button{
    padding: .5rem 3rem;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.create-main{
    display: flex;
    align-items: center;
}

@media only screen and (max-width:1000px){
    .form{
        width: 70vw;
    }
}